.root{
    -fx-background-image: url("Presentation2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 100%;
    -fx-font-size: 0.7cm;
    -fx-font-family: sans-serif;
    -fx-font-weight: bold;



}
.label{
    -fx-text-fill: darkred;
    -fx-font-family: sans-serif;
}
.button{
    -fx-background-radius: 1cm;
    -fx-min-height: 50;
    -fx-min-width: 125;
    -fx-background-color:cadetblue;
}
.button:hover {
    -fx-background-color:black;
}
.text-area{

    -fx-text-fill: #000000;
    -fx-border-color: black;
    -fx-control-inner-background: #ff6e21;
    -fx-border-width: 0.2cm;
}